.upperbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 16px;
    padding: 5px 5px;
    margin: 5px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #FFFFFF;
}